body, html {
    margin: 0;
    padding: 0 ;
    /*height: 100%;*/
    width:100%;
    /*max-width: 110em;*/
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 50%;
    background-image: url('Icons/matheus-ferrero-yfmjALh1S6s-unsplash.jpg');
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0px;
    display: flex;
    justify-content: center;
}

    nav ul {
        list-style: none;
    }

    nav li {
        margin-right: 20px;
    }

    nav a {
        text-decoration: none;
        color: white;
    }

main {
    flex-grow: 1;
  /*  padding: 1px;*/
}
}

.navbar {
    background-color: lightgray;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid red;
}

    .navbar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .navbar li {
        padding: 10px;
        border-bottom: 1px solid red;
    }

    .navbar a {
        text-decoration: none;
        color: black;
    }

        .navbar a:hover {
            color: red;
        }

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px;
}
.Intro{
    text-align:center;
    color:white;
}

#header {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-rgb: 33,37,41;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    text-align: var(--bs-body-text-align);
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    color: #7f888f;
    box-sizing: inherit;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    display: flex;
    border-bottom: solid 5px #f56a6a;
    padding: 6em 0 1em 0;
    position: relative;
    padding-top: 5em;
}
#search-form{
    text-align:left;
}