@{
    ViewData["Title"] = "SecondView";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<section class="wthree-row w3-about py-md-5">
    <div class="container py-4 mt-2">
        <h3 class="tittle-w3ls text-center mb-3">PRE-NATAL CARE</h3>
        <div class="card-deck pt-4 mt-md-4">
            <div class="card">
                <img src="~/css/vaccination.png" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title" >Vaccination</h5>
                    <div class="ab_button">
                        <a class="btn btn-secondary btn-lg hvr-underline-from-left" asp-controller="Second" asp-action="SecondView" role="button" data-toggle="modal" data-target="#myModal">Book </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/css/pregnancy-ultrasound_thumb.png" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title" >Ultrasound</h5> 
                    <div class="ab_button">
                        <a class="btn btn-secondary btn-lg hvr-underline-from-left" href="~/Views/Second/SecondView.cshtml" role="button" data-toggle="modal" data-target="#myModal">Book </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/css/Chec-Up.jpg" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title">Checkup</h5>
                    <div class="ab_button">
                        <a class="btn btn-primary btn-lg hvr-underline-from-left" href="~/Views/Second/SecondView.cshtml" role="button" data-toggle="modal" data-target="#myModal">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wthree-row w3-about py-md-5">
    <div class="container py-4 mt-2">
        <div class="card-deck pt-4 mt-md-4">
            <div class="card">
                <img src="~/css/Nutrition.png" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title">Nutrition</h5>
                    <div class="ab_button">
                        <a class="btn btn-secondary btn-lg hvr-underline-from-left" href="~/Views/Second/SecondView.cshtml" role="button" data-toggle="modal" data-target="#myModal">Book </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/css/Counselling.jpg" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title">Counselling</h5> 
                    <div class="ab_button">
                        <a class="btn btn-secondary btn-lg hvr-underline-from-left" href="~/Views/Second/SecondView.cshtml" role="button" data-toggle="modal" data-target="#myModal">Book </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/css/Emergency.jpg" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title" >Emergency Booking</h5>
                    <div class="ab_button">
                        <a class="btn btn-primary btn-lg hvr-underline-from-left" href="~/Views/Second/SecondView.cshtml" role="button" data-toggle="modal" data-target="#myModal">Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


	
@*<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">Make an appointment</a>
  <a href="#">About Us</a>
  <a href="#">Emergency Booking</a>
  <a href="#">Contact</a>
  <a class="btn btn-outline-secondary" style="width:300px" asp-controller="Four" asp-action="FourthView">people</a>


  <a class="btn btn-outline-secondary" style="width:300px"  asp-controller="Third" asp-action="ThirdView">Doc</a>*@
  
		@* <button onclick="myFunction()">Toggle dark mode</button> *@

		@* <script>
			function myFunction() {
				var element = document.body;
				element.classList.toggle("dark-mode");
			}
		</script>

</div> *@
	


@*<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Menu</button>  
 
</div>
*@
@*<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>*@
   
</body>
</html> 
@*

	*@

@*
	*@

@* <div style="justify-content:space-between;">
	<br />
	<br />
</div>
 *@


			

