
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<section class="banner_bottom py-md-5">
    <div class="container py-4 mt-2">
        <h2 class="tittle-w3ls text-center mb-3">ABOUT US</h2>
        <p class="tit text-center mx-auto">Fifth Element</p>
        <div class="inner_sec_info_wthree_agile pt-4 mt-md-4">
            <div class="row help_full">
                <div class="col-md-6 banner_bottom_grid help">
                    <img src="~/pic01.jpg" alt=" " class="img-fluid">
                </div>
                <div class="col-md-6 banner_bottom_left">
                    <h4>Connecting Health, Bridging Lives!</h4>
                    <p>
                        A user-friendly and straight forward health care system accessible to the whole community.
                    </p>
                    <p>
                        Our goal is to reduce cues and traffic at your local health care center. The Virtual Health Bridge is here to connect you to the clinic's practitioners for effective and manageable appointment slots.
                    </p>
                    <a href="#" class="blog-btn" data-toggle="modal" data-target="#myModal">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//ab-->
<!-- distance -->
<section class="distance-w3 py-md-5">
    <div class="container py-4 mt-2">
        <div class="row">
            <div class="col-md-8 distance-agile-left">
                <h4 class="mt-2">Connecting Health, Bridging Lives!</h4>
            </div>
            <div class="col-md-4 distance-agile-right">
                <a href="~/Views/Home/Contact.cshtml">call us 5-367-123-4567</a>
            </div>
        </div>
    </div>
</section>
<!-- //distance -->
<!-- team -->
<section class="team py-md-5">
    <div class="container py-4 mt-2">
        <h3 class="tittle-w3ls text-center mb-3">Our Head Doctors</h3>
        <p class="tit text-center mx-auto">Below are faces and information on our head general practitioners!</p>
        <div class="row inner-sec-w3layouts-agileinfo pt-4 mt-md-4">
            <div class="col-md-3 col-sm-6 team-grids">
                <img src="~/pic02.jpg" class="img-fluid" alt="">
                <div class="team-info">
                    <div class="caption">
                        <h4>Athenkosi Njamela</h4>
                        <h6>
                            Physician
                        </h6><h6>
                        </h6>
                    </div>
                    <div class="social-icons-section">
                        <a class="fac" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="twitter" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="pinterest" href="#">
                            <i class="fab fa-pinterest-p"></i>
                        </a>

                    </div>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 team-grids">
                <img src="~/pic06.jpg" class="img-fluid" alt="">
                <div class="team-info">
                    <div class="caption">
                        <h4>Mbasa Sigabi</h4>
                        <h6>Gynecologist</h6>
                    </div>
                    <div class="social-icons-section">
                        <a class="fac" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="twitter" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="pinterest" href="#">
                            <i class="fab fa-pinterest-p"></i>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team-grids">
                <img src="~/pic07.jpg" class="img-fluid" alt="">
                <div class="team-info">
                    <div class="caption">
                        <h4>Botwekazi Onceya</h4>
                        <h6>Obstetrician</h6>
                    </div>
                    <div class="social-icons-section">
                        <a class="fac" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="twitter" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="pinterest" href="#">
                            <i class="fab fa-pinterest-p"></i>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 team-grids">
                <img src="~/pic08.jpg" class="img-fluid" alt="">
                <div class="team-info">
                    <div class="caption">
                        <h4>Sinesipho Styanda </h4>
                        <h6>Psychologist</h6>
                    </div>
                    <div class="social-icons-section">
                        <a class="fac" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="twitter" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="pinterest" href="#">
                            <i class="fab fa-pinterest-p"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Shipping</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="agileits-w3layouts-info">
                    <img src="~/pic06.jpg" class="img-fluid" alt="" />
                    <p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>*@
<!-- //Modal -->
<!-- js -->
<script src="~/js/jquery-2.2.3.min.js"></script>
<!-- //js-->
<!-- start-smooth-scrolling -->
<script src="~/js/move-top.js"></script>
<script src="~/js/easing.js"></script>
<script>

    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script>

    $(document).ready(function () {
        /*
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<script src="~/js/SmoothScroll.min.js"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<script src="js/bootstrap.js"></script>
<!-- //team -->


