@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Editorial by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <section>

        <header class="main">
            <h1 class="underlined-heading">Chronic Medication Portal</h1>

            <span class="image" style="float: right; margin-left: 20px;">
                <img src="~/images/ChronicMed.jpeg" alt="Chronic Med" width="500"  />
            </span>

            <p>Your trusted source for managing your chronic medications.</p>
        </header>

        

        <div class="content">
            <h2 class="underlined-heading">About Us</h2>
            <p>We are dedicated to providing a convenient platform for managing your chronic medications. Our user-friendly interface and features make it easy to keep track of your prescriptions and medication schedules.</p>
        </div>

        <div class="content">
            <h2 class="underlined-heading">Understanding Chronic Conditions</h2>
            <p>Chronic conditions are long-term health issues that require ongoing management. These conditions often include diabetes, hypertension, arthritis, and more. Managing a chronic condition involves making lifestyle changes, adhering to prescribed medications, and regular medical check-ups.</p>
            <p>Our platform is designed to help you effectively manage your chronic condition by providing tools and resources <br />
                to track your medications and monitor your health.
            </p>
            <h3>Click below to apply for your medication</h3>
        </div>

        <ul class="actions">
            <li><a asp-action="ChronicMed2" class="button big">Existing applicant</a></li>
            <li><a asp-action="Chronic_Med1" class="button big">New applicant</a></li>
        </ul>
       
            

    </section>

</body>
</html>

<style>
    .underlined-heading {
        text-decoration: underline;
    }
</style>
