@{
    ViewData["Title"] = "Patients Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Editorial by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>

<section id="banner">
    <div class="content">
        <header>
            <h2>
                Contraceptive implant<br />
                <img src="~/images/FamilyPlanning/implant.jpeg" class="img-thumbnail" alt="" width="25% class="rounded float-end">
            </h2>

        </header>
        <p>
            <h3>Overview</h3>
            <h3>Contraceptive implant</h3>
            Contraceptive implants are a long-term birth control method. They're also called long-acting reversible contraception, or LARC.<br />
            A contraceptive implant is a flexible plastic rod about the size of a matchstick that is placed under the skin of the upper arm. The implant releases a low, steady dose of the hormone progestin.<br />
            Progestin prevents pregnancy by pausing ovulation. And it thickens the mucus of the cervix. This makes it hard for sperm to reach an egg. Progestin also thins the lining of the uterus. If sperm do reach an egg, this makes it harder for the fertilized egg to attach to the uterus.<br />
            <h3>Products & Services</h3><br />
            <h4>Why it's done</h4>
            <h4>Contraceptive implants are effective, long-term birth control. Benefits of the implant include:</h4>
            •	It's reversible. A care provider can remove the implant anytime you decide it's not right for you or you want to get pregnant.<br />
            •	You don't have to think about it. You'll need to replace it every three years. But you won't have to worry about it every day or every month like other methods.<br />
            •	You're in charge of your birth control. No need to pause sex or get your partner to agree to birth control.<br />
            •	It's estrogen-free. Methods containing estrogen can raise the risk of forming blood clots. So, the implant may be a better choice for you if you want a lower-risk option.<br />
            •	It allows a quick return to fertility. If you want to get pregnant, you can start trying as soon as the implant is removed.<br />
            <h4>But contraceptive implants aren't right for everyone. Your care team might suggest another birth control method if you have:</h4>
            •	Allergies to any parts of the implant.<br />
            •	A history of serious blood clots, heart attack or stroke.<br />
            •	Liver tumors or disease.<br />
            •	A history of breast cancer, or if you might have breast cancer.<br />
            •	Bleeding outside of your typical period that hasn't been checked by a care provider.<br />
            The label for the active ingredient in the implant, etonogestrel, says it shouldn't be used by people with a history of blood clots. The warning comes from studies of combination birth control pills that also use progestin plus estrogen. But those risks may be due to the estrogen alone. Because the implant only uses progestin, it isn't clear if it actually carries any risk of forming blood clots.<br />
            Talk to your care team if you might be at risk for blood clots. This includes a history of blood clots in your legs or lungs, also called pulmonary embolus. They will know if the implant is a safe method for you.<br />
            <h4>Also, tell your care team if you have a history of:</h4>
            •	Allergies to anesthetics or antiseptics.<br />
            •	Depression.<br />
            •	Diabetes.<br />
            •	Gallbladder disease.<br />
            •	High blood pressure.<br />
            •	High cholesterol or high triglycerides.<br />
            •	Seizures or epilepsy.<br />
            Certain medicines and herbal products may lower the levels of progestin in your blood. This means the implant might not prevent pregnancy as well. Medicines known to do this include certain seizure medicines, sedatives, HIV medicines and the herb St. John's wort. If you take any of these medicines, talk with your care team about your birth control options.
        </p>
        <ul class="actions">
            <li><a asp-action="Form" class="button big">Book Appointment</a></li>
        </ul>
        <ul class="actions" style="text-align: right">
            <li><a asp-action="FamilyPlanning" class="button big">Back</a></li>
        </ul>
    </div>
</section>