@{
    ViewData["Title"] = "Patients Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Editorial by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>

<section>
    <header class="main">
        <h1>Family Planning</h1>
        <img src="~/images/FamilyPlanning/familia.png" class="img-thumbnail" alt="" width="50% class="rounded float-end">n
    </header>

    <section id="banner">
        <div class="content">
            <header>
                <h2>
                    What is family planning?<br />

                </h2>

            </header>
            <p>Family planning allows people to decide when and if to have children, using the information, means and methods they need to do so. It involves a wide range of contraceptives, such as pills, implants, intrauterine devices, surgical procedures that limit fertility, and barrier methods such as condoms. It also includes non-invasive methods such as abstinence and the calendar method. Information on family planning assists with how to become pregnant when it is wanted, and infertility treatment.</p>
            <ul class="actions">
                <li><a href="#" class="button big">Learn More</a></li>
            </ul>
        </div>
    </section>

    <section id="banner">
        <div class="content">
            <header>
                <h2>
                    Combination birth control pills<br />
                    <img src="~/images/FamilyPlanning/pills.jpeg" class="img-thumbnail" alt="" width="25% class="rounded float-end">
                </h2>

            </header>
            <p>
                <h3>Overview</h3><br />
                Combination birth control pills, also known as the pill, are oral contraceptives that contain estrogen and a progestin. Oral contraceptives are medicines used to prevent pregnancy. They can have other benefits too.<br />
                Combination birth control pills keep you from ovulating. This means that the pills keep your ovaries from releasing an egg. They also cause changes to the mucus in the opening of the uterus, called the cervix, and to the lining of the uterus, called the endometrium. These changes keep sperm from joining the egg.<br />
                Different types of combination birth control pills contain different doses of estrogen and progestin. Continuous-dosing or extended-cycle pills allow you to reduce the number of periods you have each year.<br />
                If you want to use combination birth control pills, your health care provider can help you decide which type is right for you.<br />
            </p>
            @*
            <p>
            <h3>Why it's done</h3>
            Combination birth control pills are a reliable form of contraception that's easily reversed. Fertility can return almost right away after you stop taking the pills.<br/>
            Along with preventing pregnancy, other benefits of these pills include:<br/>
            •	Lower risk of cancer of the ovaries and the lining of the uterus, ectopic pregnancy, ovarian cysts, and noncancerous breast disease<br/>
            •	Improvement in acne and excessive face and body hair<br/>
            •	Less severe menstrual cramps, called dysmenorrhea<br/>
            •	Reduced androgen production caused by polycystic ovary syndrome<br/>
            •	Decreased heavy menstrual bleeding from uterine fibroids and other causes, as well as a decrease in iron deficiency anemia related to blood loss<br/>
            •	Treatment of premenstrual syndrome (PMS)<br/>
            •	Shorter, lighter periods on an expected schedule or, for some types of combination pills, fewer periods yearly<br/>
            •	Better control of the monthly cycle and fewer hot flashes during the time when the body makes the natural transition to menopause, called perimenopause<br/>
            <h4>Combination birth control pills come in different mixtures of active and inactive pills, including:</h4>
            •	Conventional pack. One common type contains 21 active pills and seven inactive pills. Inactive pills do not contain hormones. Formulations containing 24 active pills and four inactive pills, known as a shortened pill-free interval, also are available. Some newer pills may contain only two inactive pills.<br/>
            You take a pill every day and start a new pack when you finish the old one. Packs usually contain 28 days of pills. Bleeding may occur every month during the time when you take the inactive pills that are at the end of each pack.<br/>
            •	Extended-cycle pack. These packs typically contain 84 active pills and seven inactive pills. Bleeding generally occurs only four times a year during the seven days you take the inactive pills.<br/>
            •	Continuous-dosing pack. A 365-day pill also is available. You take this pill every day at the same time. For some people, periods stop altogether. For others, periods become significantly lighter. You do not take any inactive pills.<br/>
            By decreasing or stopping periods, continuous-dosing and extended-cycle pills might have other benefits. These can include:<br/>
            •	Preventing and treating heavy bleeding related to uterine fibroids.<br />
            •	Preventing menstrual migraines.<br/>
            •	Lessening the worsening effect menstruation can have on certain conditions, including seizures.<br/>
            •	Relieving pain related to endometriosis.<br/>
            <h4>Combination birth control pills aren't the best choice for everyone. Your health care provider might suggest that you use another form of birth control if you:</h4>
            •	Are in the first month of breastfeeding or first few weeks after giving birth.<br/>
            •	Are older than 35 and smoke.<br/>
            •	Have poorly controlled high blood pressure.<br/>
            •	Have a history of or current blood clots, including in your legs — called deep vein thrombosis — or in your lungs — called pulmonary embolism.<br/>
            •	Have a history of stroke or heart disease.<br/>
            •	Have a history of breast cancer.<br/>
            •	Have migraine with aura.<br/>
            •	Have diabetes-related complications, such as kidney disease, eye disease or problems with nerve function.<br/>
            •	Have certain liver and gallbladder diseases.<br/>
            •	Have unexplained uterine bleeding.<br/>
            •	Will be confined to bed for an extended period of time after surgery or an injury or during a serious illness.<br/>
            *@
            @*</p>*@
            <ul class="actions">
                <li><a asp-action="BirthControlPills" class="button big">MORE</a></li>
            </ul>
        </div>
    </section>

    <section id="banner">
        <div class="content">
            <header>
                <h2>
                    Pregnancy<br />
                    <img src="~/images/FamilyPlanning/preg1.jpeg" class="img-thumbnail" alt="" width="25%" class="rounded float-end">
                </h2>

            </header>
            <p>
                Based on typical use, about 9 out of 100 people taking combination birth control pills will get pregnant in the first year of use. With perfect use as directed, the pregnancy rate is less than 1 in 100 people every year.
                Although taking combination birth control pills during early pregnancy doesn't increase the risk of birth defects, it's best to stop using the pills as soon as you suspect you're pregnant.
                Sexually transmitted infections<br />
                Combination birth control pills won't protect you from sexually transmitted infections. To help protect against these infections, practice safer sex.
                @* <h3>Side effects</h3>
                Combination birth control pills can cause side effects such as:<br/>
                •	Bleeding while taking the active pills — called breakthrough bleeding or spotting — that is more common with continuous-dosing or extended-cycle pills.<br/>
                •	Breast tenderness.<br/>
                •	Headaches.<br/>
                •	Nausea.<br/>
                •	Bloating.<br />
                •	Increased blood pressure.<br />
                Some side effects — including nausea, headaches, breast tenderness, bloating and breakthrough bleeding — might get better after you've taken the pill for a while.<br/>
                <h3>Possible risks</h3>
                Combination birth control pills increase the risk of certain conditions, which can be serious. They include:
                •	Blood clots in the legs, called deep vein thrombosis.<br />
                •	Heart attack and stroke, especially if you smoke.<br />
                •	Liver disorders.<br />
                <h3>When to call your doctor</h3>
                Contact your health care provider as soon as possible if you're taking combination birth control pills and have:
                •	Belly pain, cramping and vomiting.<br />
                •	Chest pain, coughing and trouble breathing.<br />
                •	New or worsening headaches, difficulty speaking, confusion, blurred vision, or loss of vision.<br />
                •	Severe pain, change in skin color and swelling in a leg.<br />
                •	Depression or severe mood swings.<br />
                •	Jaundice, which is yellowish discoloration of the skin and eyes.<br />
                •	Two missed periods or symptoms of pregnancy.<br />
                <h3>How you prepare</h3>
                You'll need to request a prescription for combination birth control pills from your health care provider. Your provider measures your blood pressure, checks your weight, and talks with you about your health and any medicines you're taking.
                Your provider also asks about your concerns and what you would like from your birth control to help figure out which combination birth control pill is right for you. Health care providers often recommend pills with the lowest dose of hormones that will help prevent pregnancy, give you important benefits other than birth control and cause the fewest side effects.
                Although the amount of estrogen in combination pills can be as low as 10 micrograms (mcg) of ethinyl estradiol, most pills contain about 20 to 35 mcg. Low-dose pills can result in more breakthrough bleeding than can pills with more estrogen. Some combined oral contraceptives contain other types of estrogen.
                Combination pills are grouped based on whether the dose of hormones stays the same or varies:<br />
                •	Monophasic. Each active pill contains the same amount of estrogen and progestin.<br />
                •	Biphasic. Active pills contain two combinations of estrogen and progestin.<br />
                •	Triphasic. Active pills contain three combinations of estrogen and progestin. In some types, the progestin content increases; in others, the progestin dose remains steady and the estrogen content increases.<br />
                <h3>What you can expect</h3>
                To begin a combined oral contraceptive, talk to your health care provider about a starting date:<br />
                •	Quick-start method. You can take the first pill in the pack right away.<br />
                •	Sunday-start method. You take your first pill on the first Sunday after your period starts.<br />
                •	First-day-start method. You take your first pill on the first day of your next period.<br />
                With quick-start or Sunday-start methods, use a backup contraception method, such as a condom, for the first seven days you take combination birth control pills.
                For the first-day-start method, no backup method of contraception is needed.<br/>
                <h3>To use combination birth control pills:</h3>
                •	Pick a time to take the pill every day. Combined oral contraceptives need to be taken every day to be effective. Following a routine might keep you from missing a pill and help you take the pill at the same time every day. For example, consider taking your pill when you brush your teeth in the morning.<br />
                •	Follow your health care provider's instructions carefully. Birth control pills only work if you use them correctly, so make sure you understand the instructions. Because there are many different formulas of combined oral contraceptives, check with your health care provider about specific instructions for your pills.<br />
                If you're using the conventional type of combination birth control pills and want to have regular periods, you will take all of the pills in your pack — the active and the inactive ones — and start a new pack the day after you finish your current one.<br />
                If you want to avoid monthly periods, continuous-dosing or extended-dosing options reduce the number of periods in a year. Ask your health care provider about how to take the pills and how many active pill packs you take in a row.<br />
                •	Know what to do when you miss pills. If you miss one active pill, take it as soon as you remember — even if it means taking two active pills in the same day. Take the rest of the pack as usual. Use a backup method of contraception for seven days if you missed your pill by more than 12 hours.<br />
                If you miss more than one active pill, take the last pill you missed right away. Take the rest of the pack as usual. Use a backup method of contraception for seven days. If you've had unprotected sex, you may consider emergency contraception.<br />
                •	Know what to do if you lose or miss pills due to vomiting. If you vomit within two hours after taking a combination birth control pill or have severe vomiting and diarrhea for two or more days and can't take the pills, follow the instructions in the same way you would if you missed one or more pills.<br />
                •	Don't take breaks between packs. Always have your next pack ready before you finish your current pack.<br />
                Talk to your health care provider to decide if combination birth control pills are right for you. Also talk to your provider if you have any concerns or if you'd like to change to another method of birth control.<br />
                </p>*@
                <ul class="actions">
                    <li><a asp-action="Pregnancy" class="button big">MORE</a></li>
                </ul>
        </div>
    </section>

    <section id="banner">
        <div class="content">
            <header>
                <h2>
                    Contraceptive implant<br />
                    <img src="~/images/FamilyPlanning/implant.jpeg" class="img-thumbnail" alt="" width="25% class="rounded float-end">
                </h2>

            </header>
            <p>
                <h3>Overview</h3>
                <h3>Contraceptive implant</h3>
                Contraceptive implants are a long-term birth control method. They're also called long-acting reversible contraception, or LARC.<br />
                A contraceptive implant is a flexible plastic rod about the size of a matchstick that is placed under the skin of the upper arm. The implant releases a low, steady dose of the hormone progestin.<br />
                Progestin prevents pregnancy by pausing ovulation. And it thickens the mucus of the cervix. This makes it hard for sperm to reach an egg. Progestin also thins the lining of the uterus. If sperm do reach an egg, this makes it harder for the fertilized egg to attach to the uterus.<br />
                @* <h3>Products & Services</h3><br />
                <h4>Why it's done</h4>
                <h4>Contraceptive implants are effective, long-term birth control. Benefits of the implant include:</h4>
                •	It's reversible. A care provider can remove the implant anytime you decide it's not right for you or you want to get pregnant.<br />
                •	You don't have to think about it. You'll need to replace it every three years. But you won't have to worry about it every day or every month like other methods.<br />
                •	You're in charge of your birth control. No need to pause sex or get your partner to agree to birth control.<br />
                •	It's estrogen-free. Methods containing estrogen can raise the risk of forming blood clots. So, the implant may be a better choice for you if you want a lower-risk option.<br />
                •	It allows a quick return to fertility. If you want to get pregnant, you can start trying as soon as the implant is removed.<br />
                <h4>But contraceptive implants aren't right for everyone. Your care team might suggest another birth control method if you have:</h4>
                •	Allergies to any parts of the implant.<br />
                •	A history of serious blood clots, heart attack or stroke.<br />
                •	Liver tumors or disease.<br />
                •	A history of breast cancer, or if you might have breast cancer.<br />
                •	Bleeding outside of your typical period that hasn't been checked by a care provider.<br />
                The label for the active ingredient in the implant, etonogestrel, says it shouldn't be used by people with a history of blood clots. The warning comes from studies of combination birth control pills that also use progestin plus estrogen. But those risks may be due to the estrogen alone. Because the implant only uses progestin, it isn't clear if it actually carries any risk of forming blood clots.<br />
                Talk to your care team if you might be at risk for blood clots. This includes a history of blood clots in your legs or lungs, also called pulmonary embolus. They will know if the implant is a safe method for you.<br />
                <h4>Also, tell your care team if you have a history of:</h4>
                •	Allergies to anesthetics or antiseptics.<br />
                •	Depression.<br />
                •	Diabetes.<br />
                •	Gallbladder disease.<br />
                •	High blood pressure.<br />
                •	High cholesterol or high triglycerides.<br />
                •	Seizures or epilepsy.<br />
                Certain medicines and herbal products may lower the levels of progestin in your blood. This means the implant might not prevent pregnancy as well. Medicines known to do this include certain seizure medicines, sedatives, HIV medicines and the herb St. John's wort. If you take any of these medicines, talk with your care team about your birth control options.
                </p>*@
                <ul class="actions">
                    <li><a asp-action="Contraceptive" class="button big">MORE</a></li>
                </ul>
        </div>
    </section>



    <section id="banner">
        <div class="content">
            <header>
                <h2>
                    Vasectomy<br />
                    <img src="~/images/FamilyPlanning/vasectomy.jpeg class="img-thumbnail" alt="" width="25% class="rounded float-end">
                </h2>

            </header>
            <p>
                Sperm are made in your testicles (balls) and travel up your vas deferens (tubes) to mix with your semen. These are the tubes that are cut and tied when you have a vasectomy.
                After a vasectomy there are no sperm in your semen. Your testicles still make sperm but they are absorbed by your body.
                @* <h3>Where is it done?</h3>
                A vasectomy is a simple operation.<br/>
                It can be done at doctors’ surgeries or hospitals. The doctor or a vasectomy counsellor will explain the operation and answer questions you or your partner may have.<br/>
                If you decide to go ahead, an appointment will be made for the operation.<br/>
                <h3>How is it done?</h3>
                In no-scalpel vasectomy the doctor feels the tubes under the skin and holds them in place with a small clamp.<br />
                The doctor makes one tiny puncture with a special instrument. The same instrument is used to gently stretch the opening so the tubes can be reached.<br />
                The tube is brought to the surface through the small opening. Different doctors use different techniques but all are designed to ensure the two ends of the cut tubes remain separate.<br />
                The second tube is treated in the same way through the same hole. There is very little bleeding with this technique.<br />
                No stitches are needed to close the opening, which heals quickly without leaving a scar.<br />
                <h4>How can I take care of myself after the operation?</h4>
                You will be given detailed instructions at the time of the operation.<br />
                <ul>
                <li>You can expect some soreness and bruising for a few days.</li>
                <li>Plan to stay home and rest.</li>
                <li>Ask the doctor about pain relief.</li>
                <li>You can probably return to light work after two days.</li>
                <li>Avoid heavy lifting, exercise or sexual intercourse for seven to 10 days.</li>
                <li>You can have sex after two to three days if it is comfortable but remember you still need contraception.</li>
                </ul>
                <h4>When is the operation effective?</h4>
                If you are having penis in vagina sex, your partner will not be protected from pregnancy until semen samples are sperm free.<br />

                Your doctor will arrange the tests. They are done three months (or 16 ejaculations whichever comes first) after the vasectomy. Until then you will need to use another method of contraception.<br />
                <h4>Can it affect my sexuality?</h4>
                After a vasectomy you will still have erections and orgasms.<br />
                You ejaculate about the same amount of semen but it no longer contains sperm.<br />
                Your hormones do not change.<br />
                Your sex drive and ability to have sex do not change.<br />
                The only change is that you cannot father a child. If you consider your decision carefully and do not feel pressured by anyone, you are unlikely to regret your choice.<br />
                <h4>Is the operation always successful?</h4>
                Vasectomy is a very effective method of contraception.<br />
                Overall, one in 300 may fail. After you have had negative sperm counts the chance of failure drops to one in 2000.<br />
                <h4>Is a vasectomy reversible?</h4>
                It is not always possible to reverse a vasectomy.<br />
                Many factors can affect the success rate of a reversal. On average, 50 percent of reversals result in a pregnancy.<br />
                Sometimes a person can develop antibodies to their own sperm after a vasectomy. This may make pregnancy after reversal less likely.<br />
                A second option after vasectomy is direct retrieval of sperm from the testicle, then in vitro fertilisation to achieve pregnancy.<br />
                Another option is to freeze some of your sperm so they can be used later.<br />
                If this is something you would like to consider, talk it over with your doctor or vasectomy counsellor before your operation.<br />
                <h4>What are the possible complications?</h4>
                Infection is uncommon and is not usually serious. Internal bleeding may cause swelling and pain.<br />
                A painful lump may form in the scrotum where the operation was done. The pain usually disappears in a few weeks.<br />
                Intermittent long-term scrotal pain is possible, but very rare.<br />
                <h4>Are there any long-term health risks?</h4>
                Research shows no association between vasectomy, heart disease, or cancer of the testicles or prostate.<br />
                <h4>Do I need to have consent from anyone?</h4>
                It is recommended that you discuss sterilisation fully with your partner. This is because you are both affected by the decision.<br />
                However, it is not a legal requirement for your partner to give consent. You can choose a vasectomy if you have no partner or if you have no children.<br />

                </p>*@
                <ul class="actions">
                    <li><a asp-action="Vasectomy" class="button big">MORE</a></li>
                </ul>
        </div>
    </section>








    <section id="banner">
        <div class="content">
            <header>
                <h2>
                    TUBAL LIGATION<br />
                    <img src="~/images/FamilyPlanning/tubal.jpeg" class="img-thumbnail" alt="" width="25% class="rounded float-end">
                </h2>

            </header>
            <p>
                Permanent contraception is called sterilisation.<br />

                A tubal ligation (also known as 'having your tubes tied') is a procedure to close both fallopian tubes which means that sperm can’t get to an egg to fertilise it.<br />
                @* <h4>How is a tubal ligation done?</h4>
                The tubes are closed using rings or clips or by cutting and tying.<br />
                It is usually done by putting a tiny telescope called a laparoscope in through a small cut near the belly button and closing the tubes through another small cut near the pubic hair.<br />
                If a laparoscope can’t be used then a longer cut is made near the pubic hair.<br />
                Tubal ligations are done in hospital under a general anaesthetic. Depending on the type of operation it may be day surgery or may require a stay of one to two days in hospital.<br />
                <h4>How effective is tubal ligation?</h4>
                The failure rate for tubal ligation is one in 200.<br />
                <h4>Does Family Planning do tubal ligations?</h4>
                We don’t do tubal ligations at our clinics.<br />
                Our nurses and doctors can refer you to a hospital or to a specialist who can perform the procedure.<br />
                Talk to our staff if you think tubal ligation might be an option for you.<br />
                <h4>IS TUBAL LIGATION REVERSiBLE?</h4>
                It is not always possible to reverse tubal ligation and the reversal procedure is not available in public hospitals.<br />
                If you consider your decision carefully and do not feel pressured by anyone, you are unlikely to regret your choice.<br />
                <h4><strong>DO I NEED TO HAVE CONSENT FROM ANYONE?</strong></h4>
                It is recommended that you discuss sterilisation fully with your partner. This is because you are both affected by the decision.<br />
                However, it is not a legal requirement for your partner to give consent. You can choose a tubal ligation if you have no partner or if you have no children.<br />


                </p>*@
                <ul class="actions">
                    <li><a asp-action="TUBALLIGATION" class="button big">MORE</a></li>
                </ul>
        </div>
    </section>


    <section id="banner">
        <div class="content">
            <header>
                <h2>
                    Lactation Amenorrhea Method (LAM)<br />
                    <img src="~/images/FamilyPlanning/LAM.jpeg" class="img-thumbnail" alt="" width="25% class="rounded float-end">
                </h2>

            </header>
            <p>
                Lactation amenorrhea method (LAM) is a way for breastfeeding to temporarily help prevent pregnancy. It must be used correctly to work. Lactation means your body is making breastmilk and amenorrhea means you aren’t having a monthly period. Breastfeeding hormones may stop your body from releasing eggs. You can’t get pregnant if you don’t release an egg.
                @*<h4>How well does LAM work?</h4>
                <ul>
                <li>You can get pregnant as early as one month after having a baby, when not using LAM or another method of birth control.</li>
                <li>If no method of birth control is used, there’s about an 85% chance of getting pregnant after 1 year of having sex.</li>
                <li>With perfect use (you follow the exact directions all the time) LAM is 98% effective against pregnancy for the first 6 months after giving birth.</li>
                <li>Think about getting emergency contraception to help prevent pregnancy if you’ve not followed LAM correctly and you’ve had unprotected sex in the last 5 days.</li>
                <li>LAM doesn’t protect you from sexually transmitted infections (STIs) and HIV.</li>
                <li>
                Use a condom
                <strong>every time</strong> you have sex (anal, oral, vaginal) to lower your risk of STIs and HIV.
                </li>
                </ul>
                <h4>When can I use LAM as birth control?</h4>

                LAM
                <strong>only works</strong> if your:

                <ul>
                <li>
                baby is under 6 months old
                <strong>and</strong>
                </li>
                <li>
                baby is fully breastfed (baby gets no other liquid or food, not even water) or nearly-fully breastfed (baby gets vitamins, water, or other fluids or nutrients once in a while and they do not disrupt the frequency of feedings)
                <strong>and</strong>
                </li>
                <li>period has not returned. This means you have not had vaginal bleeding for 2 or more days in a row (not counting bleeding during the first 2 months after giving birth)</li>
                </ul>

                LAM does
                <strong>not</strong> work if you don’t have all 3 things above. Talk to your healthcare provider to see if LAM is right for you.

                <h4>What are the benefits of LAM?</h4>
                <ul>
                <li>It can work for up to 6 months after birth.</li>
                <li>It is effective right away.</li>
                <li>There are no added hormones that can affect your breastmilk. </li>
                <li>There is no cost and no birth control supplies are needed.</li>
                <li>Breastfeeding has many other health benefits for you and your baby.</li>
                </ul>
                <h4>What are the disadvantages of LAM?</h4>
                <ul>
                <li>It may be difficult for some to fully or nearly-fully breastfeed.</li>
                <li>Fertility can return quickly if breastfeeding is reduced. </li>
                <li>It’s only effective for up to 6 months after you have your baby.</li>
                </ul>
                <h4>Did You Know?</h4>
                <ul>
                <li>You have the right to make the decision to have sex or not.</li>
                <li>You can plan ahead and talk to your partner(s) about how to lower your risk of pregnancy, STIs, and HIV. </li>
                <li>You can consider getting regular testing for STIs and HIV. Talk to your healthcare provider.</li>
                <li>Many clinics offer low or no cost birth control.</li>
                </ul>

                </p>*@
                <ul class="actions">
                    <li><a asp-action="LAM" class="button big">MORE</a></li>
                    @*<li><a asp-action="FamilyPlanning">Family Planning</a></li>*@
                </ul>
                <ul class="actions" style="text-align: right">
                    <li><a asp-action="Index" class="button big">Back</a></li>
                </ul>
        </div>
    </section>







</section>


