@{
    ViewData["Title"] = "Patients Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Editorial by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>

<section id="banner">
    <div class="content">
        <header>
            <h2>
                Lactation Amenorrhea Method (LAM)<br />
                <img src="~/images/FamilyPlanning/LAM.jpeg" class="img-thumbnail" alt="" width="25% class="rounded float-end">
            </h2>

        </header>
        <p>
            Lactation amenorrhea method (LAM) is a way for breastfeeding to temporarily help prevent pregnancy. It must be used correctly to work. Lactation means your body is making breastmilk and amenorrhea means you aren’t having a monthly period. Breastfeeding hormones may stop your body from releasing eggs. You can’t get pregnant if you don’t release an egg.
            <h4>How well does LAM work?</h4>
            <ul>
                <li>You can get pregnant as early as one month after having a baby, when not using LAM or another method of birth control.</li>
                <li>If no method of birth control is used, there’s about an 85% chance of getting pregnant after 1 year of having sex.</li>
                <li>With perfect use (you follow the exact directions all the time) LAM is 98% effective against pregnancy for the first 6 months after giving birth.</li>
                <li>Think about getting emergency contraception to help prevent pregnancy if you’ve not followed LAM correctly and you’ve had unprotected sex in the last 5 days.</li>
                <li>LAM doesn’t protect you from sexually transmitted infections (STIs) and HIV.</li>
                <li>
                    Use a condom
                    <strong>every time</strong> you have sex (anal, oral, vaginal) to lower your risk of STIs and HIV.
                </li>
            </ul>
            <h4>When can I use LAM as birth control?</h4>

            LAM
            <strong>only works</strong> if your:

            <ul>
                <li>
                    baby is under 6 months old
                    <strong>and</strong>
                </li>
                <li>
                    baby is fully breastfed (baby gets no other liquid or food, not even water) or nearly-fully breastfed (baby gets vitamins, water, or other fluids or nutrients once in a while and they do not disrupt the frequency of feedings)
                    <strong>and</strong>
                </li>
                <li>period has not returned. This means you have not had vaginal bleeding for 2 or more days in a row (not counting bleeding during the first 2 months after giving birth)</li>
            </ul>

            LAM does
            <strong>not</strong> work if you don’t have all 3 things above. Talk to your healthcare provider to see if LAM is right for you.

            <h4>What are the benefits of LAM?</h4>
            <ul>
                <li>It can work for up to 6 months after birth.</li>
                <li>It is effective right away.</li>
                <li>There are no added hormones that can affect your breastmilk. </li>
                <li>There is no cost and no birth control supplies are needed.</li>
                <li>Breastfeeding has many other health benefits for you and your baby.</li>
            </ul>
            <h4>What are the disadvantages of LAM?</h4>
            <ul>
                <li>It may be difficult for some to fully or nearly-fully breastfeed.</li>
                <li>Fertility can return quickly if breastfeeding is reduced. </li>
                <li>It’s only effective for up to 6 months after you have your baby.</li>
            </ul>
            <h4>Did You Know?</h4>
            <ul>
                <li>You have the right to make the decision to have sex or not.</li>
                <li>You can plan ahead and talk to your partner(s) about how to lower your risk of pregnancy, STIs, and HIV. </li>
                <li>You can consider getting regular testing for STIs and HIV. Talk to your healthcare provider.</li>
                <li>Many clinics offer low or no cost birth control.</li>
            </ul>

        </p>
        <ul class="actions">
            <li><a asp-action="Form" class="button big">Book Appointment</a></li>
            @*<li><a asp-action="FamilyPlanning">Family Planning</a></li>*@
        </ul>
        <ul class="actions" style="text-align: right">
            <li><a asp-action="FamilyPlanning" class="button big">Back</a></li>
        </ul>
    </div>
</section>