<!DOCTYPE html>

@{
    ViewData["Title"] = "Broucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css" />
    <title>Document</title>
</head>
<body>

    <div class="wrapper">
        <div class="block-1">
            <div class="b1"></div>

            <div class="b1-info" style="text-align: center;font-size:15px;">
                <h3>Referrals</h3><p>Modern classification of referral systems includes interval referral, split referral, collateral referral, and cross-referral. When a formerly discharged person from the hospital comes back for further treatment, an interval referral system is used.</p>
                <a asp-action="ChronicMed" class="button" style="text-decoration: underline;font-weight: bold;cursor: pointer; ">Explore</a>
               

            </div>
        </div>

       

        <div class="blok-2">
            <div class="b2" style="text-align: center;font-size:15px;">
                <h3>Chronic medication</h3><p>Chronic medication management in a primary healthcare center involves the provision of long-term prescription medications and ongoing monitoring for individuals with chronic health conditions to ensure their well-being and effective disease management.</p>
                <a asp-action="ChronicMed" class="button" style="text-decoration: underline;font-weight: bold;cursor: pointer; ">Explore</a>
             
            </div>

            <p class="b2-info"></p>
        </div>

        <div class="blok-3">
            <div class="b3"></div>

            <div class="b3-info" style="text-align: center;font-size:15px;">
                <h3>Family Planning</h3><P>Family planning services in a primary healthcare center encompass a range of contraceptive methods, counseling, and reproductive health education, empowering individuals and couples to make informed decisions regarding birth control.</P>
                <a asp-action="ChronicMed" class="button" style="text-decoration: underline;font-weight: bold;cursor: pointer; ">Explore</a>

            </div>
        </div>

        <div class="blok-4">
            <div class="b4" style="text-align: center;font-size:15px;">
                <h3>Prenatal Care</h3><p>Prenatal care is medical care you get during pregnancy. At each visit, your health care provider checks on you and your growing baby. Call your provider and go for your first prenatal care checkup as soon as you know you're pregnant. And go to all your prenatal care checkups, even if you're feeling fine.</p>
                <a asp-action="ChronicMed" class="button" style="text-decoration: underline;font-weight: bold;cursor: pointer; ">Explore</a>

            </div>
            <p class="b4-info"></p>
        </div>

        <div class="blok-5">
            <div class="b5"></div>
            <div class="b5-info" style="text-align: center;font-size:15px;">
                <h4>Counceling</h4>
                <p>Counseling services in a primary healthcare center offer professional support and guidance to individuals, helping them address psychological, emotional, and behavioral concerns.</p>
                <a asp-action="ChronicMed" class="button" style="text-decoration: underline;font-weight: bold;cursor: pointer; ">Explore</a>

            </div>
        </div>

    </div>
</body>
</html>
