@{
    ViewData["Title"] = "Patients Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Editorial by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>

<section id="banner">
    <div class="content">
        <header>
            <h2>
                Combination birth control pills<br />
                <img src="~/images/FamilyPlanning/pills.jpeg" class="img-thumbnail" alt="" width="25% class="rounded float-end">
            </h2>

        </header>
        <p>
            <h3>Overview</h3><br />
            Combination birth control pills, also known as the pill, are oral contraceptives that contain estrogen and a progestin. Oral contraceptives are medicines used to prevent pregnancy. They can have other benefits too.<br />
            Combination birth control pills keep you from ovulating. This means that the pills keep your ovaries from releasing an egg. They also cause changes to the mucus in the opening of the uterus, called the cervix, and to the lining of the uterus, called the endometrium. These changes keep sperm from joining the egg.<br />
            Different types of combination birth control pills contain different doses of estrogen and progestin. Continuous-dosing or extended-cycle pills allow you to reduce the number of periods you have each year.<br />
            If you want to use combination birth control pills, your health care provider can help you decide which type is right for you.<br />
        </p>

        <p>
            <h3>Why it's done</h3>
            Combination birth control pills are a reliable form of contraception that's easily reversed. Fertility can return almost right away after you stop taking the pills.<br />
            Along with preventing pregnancy, other benefits of these pills include:<br />
            •	Lower risk of cancer of the ovaries and the lining of the uterus, ectopic pregnancy, ovarian cysts, and noncancerous breast disease<br />
            •	Improvement in acne and excessive face and body hair<br />
            •	Less severe menstrual cramps, called dysmenorrhea<br />
            •	Reduced androgen production caused by polycystic ovary syndrome<br />
            •	Decreased heavy menstrual bleeding from uterine fibroids and other causes, as well as a decrease in iron deficiency anemia related to blood loss<br />
            •	Treatment of premenstrual syndrome (PMS)<br />
            •	Shorter, lighter periods on an expected schedule or, for some types of combination pills, fewer periods yearly<br />
            •	Better control of the monthly cycle and fewer hot flashes during the time when the body makes the natural transition to menopause, called perimenopause<br />
            <h4>Combination birth control pills come in different mixtures of active and inactive pills, including:</h4>
            •	Conventional pack. One common type contains 21 active pills and seven inactive pills. Inactive pills do not contain hormones. Formulations containing 24 active pills and four inactive pills, known as a shortened pill-free interval, also are available. Some newer pills may contain only two inactive pills.<br />
            You take a pill every day and start a new pack when you finish the old one. Packs usually contain 28 days of pills. Bleeding may occur every month during the time when you take the inactive pills that are at the end of each pack.<br />
            •	Extended-cycle pack. These packs typically contain 84 active pills and seven inactive pills. Bleeding generally occurs only four times a year during the seven days you take the inactive pills.<br />
            •	Continuous-dosing pack. A 365-day pill also is available. You take this pill every day at the same time. For some people, periods stop altogether. For others, periods become significantly lighter. You do not take any inactive pills.<br />
            By decreasing or stopping periods, continuous-dosing and extended-cycle pills might have other benefits. These can include:<br />
            •	Preventing and treating heavy bleeding related to uterine fibroids.<br />
            •	Preventing menstrual migraines.<br />
            •	Lessening the worsening effect menstruation can have on certain conditions, including seizures.<br />
            •	Relieving pain related to endometriosis.<br />
            <h4>Combination birth control pills aren't the best choice for everyone. Your health care provider might suggest that you use another form of birth control if you:</h4>
            •	Are in the first month of breastfeeding or first few weeks after giving birth.<br />
            •	Are older than 35 and smoke.<br />
            •	Have poorly controlled high blood pressure.<br />
            •	Have a history of or current blood clots, including in your legs — called deep vein thrombosis — or in your lungs — called pulmonary embolism.<br />
            •	Have a history of stroke or heart disease.<br />
            •	Have a history of breast cancer.<br />
            •	Have migraine with aura.<br />
            •	Have diabetes-related complications, such as kidney disease, eye disease or problems with nerve function.<br />
            •	Have certain liver and gallbladder diseases.<br />
            •	Have unexplained uterine bleeding.<br />
            •	Will be confined to bed for an extended period of time after surgery or an injury or during a serious illness.<br />

        </p>
        <ul class="actions">
            <li><a asp-action="Form" class="button big">Book Appointment</a></li>
        </ul>
        <ul class="actions" style="text-align: right">
            <li><a asp-action="FamilyPlanning" class="button big">Back</a></li>
        </ul>
    </div>
</section>