@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="bg-1">
    <div class="container text-center">
        <p>What is prenatal care?
        <br/>
        <br />

        Prenatal care is when you get checkups from a doctor, nurse, or midwife throughout your pregnancy. 
        It helps keep you and your future baby healthy.
        Why is prenatal care important?
        <br />
        <br />
        Prenatal care is an important part of staying healthy during pregnancy.
        Your doctor, nurse, or midwife will monitor your future baby’s development and do routine testing to help find and prevent possible problems.
        These regular checkups are also a great time to learn how to ease any discomfort you may be having, and ask any other questions about your pregnancy and the birth of your future baby.
        When do I need to start having prenatal care appointments?
        <br />
        <br />
        You can start getting prenatal care as soon as you know you’re pregnant.
        It’s actually best to see a doctor BEFORE you get pregnant — this is sometimes called pre-pregnancy care or preconception planning.
        But if that’s not possible, just begin prenatal visits as soon as you can.
        How often will I have prenatal care visits?
        <br />
        <br />
        How often you’ll get prenatal care depends on how far along your pregnancy is and how high your risk is for complications. The typical prenatal care schedule for someone who’s 18-35 years old and healthy is:
        •	Every 4 or 6 weeks for the first 32 weeks
        •	Every 2 or 3 weeks for the 32nd-37th weeks
        •	Every week from the 37th week until giving birth
        Your doctor might ask you to come in for check-ups more often if you have a high-risk pregnancy.
        </p>

    </div>
</div>
