
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!-- banner bottom -->
<section class="ser-btm py-md-5">
    <div class="container py-4 mt-2">
        <h3 class="tittle-w3ls text-center mb-3">OUR SERVICES</h3>
        <p class="tit text-center mx-auto">We are here to offer a broad range of inpatient healthcare services worldwide!</p>
        <div class="row banner-bottom-main pt-4 mt-md-4">

            <div class="col-md-4 banner-grid2">
                <div class="banner-subg1">
                    <span class="fa fa-globe" aria-hidden="true"></span>
                    <h3 class="mt-3">Consumer Experience and Outcomes</h3>
                    <p class="mt-3 mb-3">Accelerate development of an overall consumer-focused digital “front door” that provides patients with a seamless digital channel to access their providers, considering what the integrated product will cover beyond what currently exists (for example, finding a doctor, record access, scheduling in-person visits) and integrated with what may have been put in place in response to COVID-19 (for example, e-triage, scheduling virtual visits, virtual clinic visits).</p>

                    <div class="read-btn">
                        <a href="~/Views/Home/About.cshtml">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 banner-grid2">
                <div class="banner-subg1">
                    <span class="fa fa-signal" aria-hidden="true"></span>
                    <h3 class="mt-3">Physician Alignment</h3>
                    <p class="mt-3 mb-3">Build the capabilities and incentives of the provider workforce to support virtual care (for example, workflow design, continuing education and graduate medical education); align benefit structure to drive adoption in line with health system and/or physician practice economics.</p>

                    <div class="read-btn">
                        <a href="~/Views/Home/About.cshtml">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 banner-grid2">
                <div class="banner-subg1">
                    <span class="fa fa-money-bill" aria-hidden="true"></span>
                    <h3 class="mt-3">Technology Infrastructure</h3>
                    <p class="mt-3 mb-3">Take stock of virtual applications, interoperability with systems of engagement (for example, electronic health record, revenue cycle, digital front door) and supporting infrastructure. Define approach to move from COVID-19 rapid solutions to a sustainable, secure, integrated virtual health platform.</p>

                    <div class="read-btn">
                        <a href="~/Views/Home/About.cshtml">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner bottom -->
<!-- smooth-shipping -->
<section class="wthree-row w3-about py-md-5">
    <div class="container py-4 mt-2">
        <h3 class="tittle-w3ls text-center mb-3">MORE SERVICES</h3>
        <p class="tit text-center mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius eum inventore consectetur dolorum, voluptatum possimus temporibus vel ab, nesciunt quod!</p>
        <div class="card-deck pt-4 mt-md-4">
            <div class="card">
                <img src="~/images/Healthcare Industry_ Dedicated Teams To Deliver Customer Success.jpeg" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title">Preparing for the Tipping Point</h5>
                    <p class="card-text mb-3 ">As pressure grows to push automation, boost quality of care, and decrease spending—especially in light of changing macroeconomic conditions—more healthcare stakeholders may push for virtual health platforms and find consistent success. As part of a broader strategic investment in virtual health, health systems could consider the following dimensions:</p>
                    <div class="ab_button">
                        <a class="btn btn-primary btn-lg hvr-underline-from-left" href="#" role="button" data-toggle="modal" data-target="#myModal">Read More </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/images/US Healthcare Advertising Market 2019-2024 _ Industry Trends, Share, Size, COVID-19 Impact Analysis, Growth, Demand and Opportunities.jpeg" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title">Growth Strategy</h5>
                    <p class="card-text mb-3 ">Consider strategies and rationale to go beyond “telehealth”/clinic visit replacement to drive growth in new markets/populations, scale other applications (for example, tele-ICU, post-acute care integration).

                Revisit service distribution/configuration and capital planning to integrate changes in needs for physical sites of care.</p>
                    <div class="ab_button">
                        <a class="btn btn-primary btn-lg hvr-underline-from-left" href="#" role="button" data-toggle="modal" data-target="#myModal">Read More </a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="~/images/Technology for healthcare.jpeg" class="img-fluid" alt="Card image cap">
                <div class="card-body w3ls-card">
                    <h5 class="card-title">Innovation and Cost Structure</h5>
                    <p class="card-text mb-3 ">Segment the patient populations (for example, specific chronic disease) and specialties whose remote interactions could be scaled with enabling home-based diagnostics and equipment.

                Re-imagine more sites of care with a “virtual first” mind-set and accelerate sites of care experimentation (for example, HaH enabled by remote monitoring). This model of care can inform a new digitally driven capital plan and service delivery models that could achieve significant reductions to current cost structure.</p>
                    <div class="ab_button">
                        <a class="btn btn-primary btn-lg hvr-underline-from-left" href="#" role="button" data-toggle="modal" data-target="#myModal">Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //smooth-shipping -->
<!-- distance -->
<section class="distance-w3 py-md-5">
    <div class="container py-4 mt-2">
        <div class="row">
            <div class="col-md-8 distance-agile-left">
                <h4 class="mt-2">Connecting Health, Bridging Lives!</h4>
            </div>
            <div class="col-md-4 distance-agile-right">
                <a href="~/Views/Home/Contact.cshtml">call us 5-367-123-4567</a>
            </div>
        </div>
    </div>
</section>
<!-- //distance -->
<!-- Modal -->
@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Shipping</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="agileits-w3layouts-info">
                    <img src="~/pic10.jpg" class="img-fluid" alt="" />
                    <p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis porttitor quis. </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>*@
<!-- //Modal -->
<!-- js -->
<script src="~/js/jquery-2.2.3.min.js"></script>
<!-- //js-->
<!-- start-smooth-scrolling -->
<script src="~/js/move-top.js"></script>
<script src="~/js/easing.js"></script>
<script>

		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script>

		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
</script>
<script src="~/js/SmoothScroll.min.js"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<script src="js/bootstrap.js"></script>

