@{
    ViewData["Title"] = "Patients Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Editorial by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>

<section id="banner">
    <div class="content">
        <header>
            <h2>
                TUBAL LIGATION<br />
                <img src="~/images/FamilyPlanning/tubal.jpeg" class="img-thumbnail" alt="" width="25% class="rounded float-end">
            </h2>

        </header>
        <p>
            Permanent contraception is called sterilisation.<br />

            A tubal ligation (also known as 'having your tubes tied') is a procedure to close both fallopian tubes which means that sperm can’t get to an egg to fertilise it.<br />
            <h4>How is a tubal ligation done?</h4>
            The tubes are closed using rings or clips or by cutting and tying.<br />
            It is usually done by putting a tiny telescope called a laparoscope in through a small cut near the belly button and closing the tubes through another small cut near the pubic hair.<br />
            If a laparoscope can’t be used then a longer cut is made near the pubic hair.<br />
            Tubal ligations are done in hospital under a general anaesthetic. Depending on the type of operation it may be day surgery or may require a stay of one to two days in hospital.<br />
            <h4>How effective is tubal ligation?</h4>
            The failure rate for tubal ligation is one in 200.<br />
            <h4>Does Family Planning do tubal ligations?</h4>
            We don’t do tubal ligations at our clinics.<br />
            Our nurses and doctors can refer you to a hospital or to a specialist who can perform the procedure.<br />
            Talk to our staff if you think tubal ligation might be an option for you.<br />
            <h4>IS TUBAL LIGATION REVERSiBLE?</h4>
            It is not always possible to reverse tubal ligation and the reversal procedure is not available in public hospitals.<br />
            If you consider your decision carefully and do not feel pressured by anyone, you are unlikely to regret your choice.<br />
            <h4><strong>DO I NEED TO HAVE CONSENT FROM ANYONE?</strong></h4>
            It is recommended that you discuss sterilisation fully with your partner. This is because you are both affected by the decision.<br />
            However, it is not a legal requirement for your partner to give consent. You can choose a tubal ligation if you have no partner or if you have no children.<br />


        </p>
        <ul class="actions">
            <li><a asp-action="Form" class="button big">Book Appointment</a></li>
        </ul>
        <ul class="actions" style="text-align: right">
            <li><a asp-action="FamilyPlanning" class="button big">Back</a></li>
        </ul>
    </div>
</section>