@*
    
	ViewData["Title"] = "SecondViwe";
	//Layout = "_Layout";

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ThirdView";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Your Daily Schedual</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Appointment Type</th>
            <th scope="col">Cancel</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Marry</td>
            <td>Jacob</td>
            <td>Ultrasound</td>
            <td><button type="button" class="btn btn-outline-success ">Cancel</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Mellisa</td>
            <td>Thornton</td>
            <td>Vaccination</td>
            <td><button type="button" class="btn btn-outline-success ">Cancel</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Mihlali</td>
            <td>Magwashisto</td>
            <td>Nutrion</td>
            <td><button type="button" class="btn btn-outline-success ">Cancel</button></td>
        </tr>
    </tbody>
</table>

@*btn-outline-info <table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td> fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table> *@