
@{
    ViewData["Title"] = "Insurance";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h1 class="text-center">Health Insurance Quote Form</h1>
<p>Fill out this form to receive a quote of our health insurance offers</p>

<div class="formbold-main-wrapper" style=" margin:0 auto;">
   
    <div class="formbold-form-wrapper">
        <form  method="POST">
            <div class="formbold-mb-5 formbold-pt-3">
                <label class="formbold-form-label formbold-form-label-2">
                    Are you a company or an individual?*
                </label>
                <div class="flex flex-wrap formbold--mx-3">
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5">
                            <input type="radio"
                                   name="company"
                                   id="company"
                                   placeholder="Company"
                                   class="formbold-form-input" />
                        </div>
                    </div>
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5">
                            <input type="radio"
                                   name="individual"
                                   id="individual"
                                   placeholder="Individual"
                                   class="formbold-form-input" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="formbold-mb-5">
                <label for="name" class="formbold-form-label"> If company, please fill out information below: </label>
                <input type="text"
                       name="info"
                       id="info"
                       placeholder=" "
                       class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5 formbold-pt-3">
                <label class="formbold-form-label formbold-form-label-2">
                    Insurer's Name:*
                </label>
                <div class="flex flex-wrap formbold--mx-3">
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5">
                            <input type="text"
                                   name="first"
                                   id="first"
                                   placeholder="First"
                                   class="formbold-form-input" />
                        </div>
                    </div>
                    <div class="w-full sm:w-half formbold-px-3">
                        <div class="formbold-mb-5">
                            <input type="text"
                                   name="last"
                                   id="last"
                                   placeholder="Last"
                                   class="formbold-form-input" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="formbold-mb-5">
                <label for="phone" class="formbold-form-label"> Insurer's' Phone Number* </label>
                <input type="text"
                       name="phone"
                       id="phone"
                       placeholder="### ### ####"
                       class="formbold-form-input" />
            </div>
            <div class="formbold-mb-5">
                <label for="email" class="formbold-form-label"> Insurer's' Email Address* </label>
                <input type="email"
                       name="email"
                       id="email"
                       placeholder=" "
                       class="formbold-form-input" />
            </div>
            <div class="form-floating">
  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
      <label for="floatingSelect" class="formbold-form-label"> Please select the health insurance you want:* </label>
    <option selected>Please select</option>
    <option value="1">Point of service (POS)</option>
    <option value="2">Exclusive provider organization (EPO)</option>
    <option value="3">Preferred provider organization (PPO)</option>
    <option value="4">Health maintenance organization (HMO)</option>
  </select>
</div>
             <div class="formbold-mb-5">
                <label for="name" class="formbold-form-label"> Date* </label>
                <input type="date"
                       name="date"
                       id="date"
                       placeholder="MM/DD/YYY"
                       class="formbold-form-input" />
            </div>
            <div>
                <button class="formbold-btn">Submit Form</button>
            </div>
        </form>
    </div>
</div>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Inter", Arial, Helvetica, sans-serif;
    }

    .formbold-mb-5 {
        margin-bottom: 20px;
    }

    .formbold-pt-3 {
        padding-top: 12px;
    }

    .formbold-main-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 48px;
    }

    .formbold-form-wrapper {
        margin: 0 auto;
        max-width: 550px;
        width: 100%;
        background: white;
    }

    .formbold-form-label {
        display: block;
        font-weight: 500;
        font-size: 16px;
        color: #07074d;
        margin-bottom: 12px;
    }

    .formbold-form-label-2 {
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .formbold-form-input {
        width: 100%;
        padding: 12px 24px;
        border-radius: 6px;
        border: 1px solid #e0e0e0;
        background: white;
        font-weight: 500;
        font-size: 16px;
        color: #6b7280;
        outline: none;
        resize: none;
    }

        .formbold-form-input:focus {
            border-color: #6a64f1;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }

    .formbold-btn {
        text-align: center;
        font-size: 16px;
        border-radius: 6px;
        padding: 14px 32px;
        border: none;
        font-weight: 600;
        background-color: #6a64f1;
        color: white;
        width: 100%;
        cursor: pointer;
    }

        .formbold-btn:hover {
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
        }

    .formbold--mx-3 {
        margin-left: -12px;
        margin-right: -12px;
    }

    .formbold-px-3 {
        padding-left: 12px;
        padding-right: 12px;
    }

    .flex {
        display: flex;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .w-full {
        width: 100%;
    }

    .sm\:w-half {
        width: 50%;
    }
</style>


